/* Main Attributes*/

body {
	background:  url(../images/concrete_seamless.png) repeat;
	color: #777777;
	font-family: Helvetica, Georgia, Times, sans-serif;
	font-size: 1p6x;
	line-height: 34px;
}

* {
	box-sizing: border-box;
}

h1 ,
h2 , 
h3 , 
p {
	margin-bottom: 20px;
}

p: last-child {
	margin-bottom: 0;
}

h1 ,
h2 ,
h3 {
	font-family: Helvetica , 'Georgia' , Times , sans-serif;
	color: #4aaaa5;
	font-weight: 700px;
}

h1 {
	border-bottom: 3px solid #ddd;
	font-size: 26px;
	padding-bottom: 20px
	line-height: 49px;
}

h2 , 
h3 {
	font-size: 22px;
}

/*Navigation Bar and Heading*/
#header {
	background: #fff;
	margin: 0 0 30px;
	z-index: 99;
	color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;
}

#brand {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 500;
	font-size: 26px;
	text-decoration: none;
}

nav {
	float: right;
	margin-top: 25px;
	text-decoration: none;
}

nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}

nav a: first-child {
	border-left: 0 none;
}

/*Containers for content*/
.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	clear: both;
}

#main-container {
	padding-top: 130px;
}

/*About Me section*/

.bio {
	background: #fff;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	width: 650px;
	float: left;
	border: 1px solid #ddd;
}

.image {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

/*Connect With Me Portion*/

.sm-links {
	background: #fff;
	padding: 30px;
	width: 100%;
	width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

h3,
.sm-links h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}

.sm {
	height: 62px;
	width: 62px;
	margin-bottom: 15px;
	line-height: 22px;
}

.sm: last-child {
	margin-right: 0;
}

/*Contact Form Section*/

#form ul {
	margin-bottom: 20px
}

#form li {
	margin-bottom: 10px
}

label ,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}

input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}

textarea {
	height: 200px;
}

input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}

/*Portfolio Page*/
.info {
	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}

.info: nth-child(even) {
	margin-right: 40px;
}

.info img {
	width: 100%;
	border: 0 none;
	opacity: .8;
	padding-left: 30px;
}

.info h3 {
	border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    padding: 15px;
    bottom: 20px;
    left: 30px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
    width: 89.2%
}

/*Footer*/

footer{
	background: #666;
	color: #fff;
	clear: both;
	padding: 30px 0px;
	border-top: 8px solid #4aaaa5;
	font-size: 12px;
	margin-bottom: 20px;
	color: #ccc;
	text-align: center;
}






